<html>
<meta charset="utf-8">
<head>
<title>分析股票</title>
</head>
<body> 
    <form name="mainForm" action="/mainAction/" method="POST">
        {% csrf_token %}        		
		<table>
			<tr>
				<td>股票代码:</td>
				<td><input type="text" name="stockCode" id="stockCode"  value="600007"/></td>
			</tr>
			<tr>
				<td>开始时间</td>
				<td><input type="text" name="startDate" id="startDate" value="2019-01-01" /></td>
			</tr>
			<tr>
				<td>结束时间</td>
				<td><input type="text" name="endDate" id="endDate" value="2019-05-31" /></td>
			</tr>
			<tr>
				<td colospan="2" align="center">
	            <input type="submit" name="submit" value="提交" />&nbsp;&nbsp;
				<input type="reset" name="reset" value="重置" />
				</td>
			</tr>
		</table>
	</form>     
</body>
</html>